# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CS_Graphic_Algorithms_OpenGL_4.5/packages/GLMathematics.0.9.5.4
/CS_Graphic_Algorithms_OpenGL_4.5/packages/glfx.redist.0.75
/CS_Graphic_Algorithms_OpenGL_4.5/packages/glfx.0.75
/CS_Graphic_Algorithms_OpenGL_4.5/packages/glfw.redist.3.2.1
/CS_Graphic_Algorithms_OpenGL_4.5/packages/glfw.3.2.1
